.head{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-flow: column;
  background-color: #245060;
}

.logo{
  height: 200px;
  width: 200px;
  align-self: center;
}

h1{
  text-align: center;
  width: 70%;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
.block{
  display: flex;
  justify-content: center;
  flex-flow: row;
}
.badge{
  display: flex;
  flex-flow: row;
  width: 20%;
}
.blockInfo{
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.titleInfo{
  font-size: 100%;
  text-align: center;
  color:white;
  align-self: center;
}

.textInfo{
  text-align: center;

  color:white;
}